/**
 * @author den-chan | https://den-chan.github.io | den-chan@tuta.io
 *
 * Shared style rules
 */

html, body {
  margin: 0;
  background: sandybrown;
}
html, body, main {
  width: 100%;
  height: 100%
}

main.rows {
  display: flex;
  flex-flow: row wrap;
}
main.columns {
  display: flex;
  flex-flow: column wrap;
  height: auto
}

#stamps, .hide {
  display: none !important
}

/* index.html */

label#logo {
  flex: 0 2em;
  text-align: center;
  padding: .5em 0;
  font: 16pt serif
}
input#search {
  flex: 10 auto;
  padding: .5em .8em;
  outline: 0;
  font: 14pt sans-serif;
  border: 0;
  color: #333
}
div#auth {
  flex: 1 3em
}
div#auth > button {
  padding: 0;
  background: wheat;
  border: 2px outset antiquewhite;
  font: 12pt sans-serif;
  outline: none;
  width: 100%;
  height: calc(3em - 2px);
}
div#auth > button:active {
  border: 2px inset antiquewhite
}
div#auth:hover > div#user-menu:not(.hide) + button {
  display: block;
  position: absolute;
  top: calc(3em - 2px);
  right: 0;
  width: calc(4em + 15%)
}
div#user-menu {
  text-align: center;
  line-height: 2.8em;
  color: maroon
}
div#results {
  flex: 1 100%;
  height: calc(100% - 3em);
  border-top: 2px solid transparent
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
#modal > div {
  background: white;
  border: 2px dashed black;
  border-radius: 1.5em;
  position: absolute;
  top: 20%;
  left: 20%;
  width: calc(60% - 4em);
  height: calc(60% - 4em);
  padding: 2em
}
#modal > div > * {
  margin: 3px
}
#modal label {
  display: block
}
#modal input[type="text"] {
  width: calc(100% - 1em - 10px);
  padding: .3em .5em
}

.card {
  background: white;
  height: 350px;
  width: 250px
}

/* imagefeed.html */

nav {
  background: white
}
div#container {
  flex: calc(83.3% - 6.67em)
}
div#toggle-nav {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  background: rosybrown;
  text-align: center;
  cursor: pointer;
  font: bold 14pt/1.5 serif
}
div#toggle-nav.plus {
  left: calc(5em + 16.7%)
}
div#toggle-nav.minus {
  left: 0
}
div#toggle-nav.plus:after {
  content: "+"
}
div#toggle-nav.minus:after {
  content: "\2212"
}
.plus + nav {
  flex: calc(5em + 16.7%)
}
.minus + nav {
  flex: 0
}

/* actions.html */
div#address {
  flex: 2em 0;
  line-height: 2em;
  margin-left: .5em
}
div#address:before {
  content: "Address: "
}
section {
  flex: 1
}
section:nth-child(2n) {
  background: rgba(256, 256, 256, .2)
}
h2 {
  margin-left: 1em
}

div#ifs-manage {
  background: white;
  width: 80%;
  margin: 0 10% 2em;
  height: 20em;
  display: flex;
  flex-flow: row wrap
}
div#ifs-list {
  flex: 0 100%;
  position: relative
}
div#ifs-div-container,
div#ifs-list-container{
  width: 100%;
  height: 100%;
  position: absolute
}
div#if-actions {
  position: absolute;
  width: 100%;
  text-align: right
}

.button {
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  text-align: center;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: .4em;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 0 .3em;
  margin: .3em .3em .3em -.3em
}
.button:hover {
  background: #ccc
}
.button:active {
  background: tomato
}

div#if-directory {
  flex: 1 30%;
  height: 0;
  background: seashell;
  display: none
}
div#if-image-upload {
  flex: 1 70%;
  height: 0;
  background: papayawhip;
  display: none
}
.active > div#ifs-list {
  height: calc(2.1em + 2px)
}
.active > div#if-directory {
  display: block
}
.active > div#if-image-upload {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.active > div#if-directory,
.active > div#if-image-upload {
  height: calc(100% - 2.1em - 2px)
}
.active > div#if-directory label,
.active > div#if-image-upload label {
  font-size: 16pt
}
div#if-directory > * {
  margin: .6em;
  cursor: pointer;
  display: inline-block;
  border-radius: .3em
}
div#if-directory > *:hover {
  background: tomato;
  padding: .3em;
  margin: .3em
}
div#if-image-upload > :nth-last-child(n+2) {
  text-align: center;
  flex: 0 3em;
  line-height: 3em;
  width: 60%
}
div#if-image-upload > :nth-last-child(n+2):hover {
  background: aqua
}
div#if-image-upload label {
  cursor: pointer
}
div#if-image-upload.drag {
  background: aqua !important
}
div#if-image-upload.drag * {
  pointer-events: none
}
input#if-file-input {
  display: none
}
div#if-image-preview {
  flex: 0 100%;
  width: 100%;
  overflow: hidden
}
div#if-image-preview > img {
  width: 100%;
  z-index: 1
}