/**
 * @author den-chan | https://den-chan.github.io | den-chan@tuta.io
 *
 * Shared style rules
 */

html, body {
  margin: 0;
  background: sandybrown;
}
html, body, main {
  width: 100%;
  height: 100%
}

main.rows {
  display: flex;
  flex-flow: row wrap;
}
main.columns {
  display: flex;
  flex-flow: column wrap;
  height: auto
}

a {
  color: inherit;
  text-decoration: none
}

#stamps, .hide {
  display: none !important
}
.softhide {
  display: none
}

/* index.html */

label#logo {
  flex: 0 2rem;
  text-align: center;
  padding: .5rem 0;
  font: 16pt serif
}
input#search {
  flex: 10 auto;
  padding: .5rem .8rem;
  outline: 0;
  font: 14pt sans-serif;
  border: 0;
  color: #333
}
div#auth {
  flex: 1 3rem
}
div#auth > * {
  cursor: pointer
}
div#auth > button {
  padding: 0;
  background: wheat;
  border: 2px outset antiquewhite;
  font: 12pt sans-serif;
  outline: none;
  width: 100%;
  height: calc(3rem - 2px);
}
div#auth > button:active {
  border: 2px inset antiquewhite
}
div#auth:hover > div#user-menu:not(.hide) + button {
  display: block;
  position: absolute;
  top: calc(3rem - 2px);
  right: 0;
  width: calc(4rem + 15%)
}
div#user-menu {
  text-align: center;
  line-height: calc(3rem - 2px);
  color: maroon
}
div#results {
  flex: 1 100%;
  height: calc(100% - 3rem);
  border-top: 2px solid transparent
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
#modal > div {
  background: white;
  border: 2px dashed black;
  border-radius: 1.5rem;
  position: absolute;
  top: 20%;
  left: 20%;
  width: calc(60% - 4rem);
  height: calc(60% - 4rem);
  padding: 2rem
}
#modal > div > * {
  margin: 3px
}
#modal label {
  display: block
}
#modal input[type="text"] {
  width: calc(100% - 1rem - 10px);
  padding: .3rem .5rem
}

.card {
  background: white;
  height: 350px;
  width: 250px
}

/* imagefeed.html */

nav {
  background: white
}
div#container {
  flex: calc(83.3% - 6.67rem)
}
div#toggle-nav {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: rosybrown;
  text-align: center;
  cursor: pointer;
  font: bold 14pt/1.5 serif
}
div#toggle-nav.plus {
  left: calc(5rem + 16.7%)
}
div#toggle-nav.minus {
  left: 0
}
div#toggle-nav.plus:after {
  content: "+"
}
div#toggle-nav.minus:after {
  content: "\2212"
}
.plus + nav {
  flex: calc(5rem + 16.7%)
}
.minus + nav {
  flex: 0
}

/* actions.html */
div#address {
  flex: 2rem 0;
  line-height: 2rem;
  margin-left: .5rem
}
div#address:before {
  content: "Address: "
}
section {
  flex: 1
}
section:nth-child(2n) {
  background: rgba(256, 256, 256, .2)
}
h2 {
  margin-left: 1rem
}

div#ifs-manage {
  background: white;
  width: 80%;
  margin: 0 10% 2rem;
  height: 20rem;
  display: flex;
  flex-flow: row wrap
}
div#ifs-list {
  flex: 0 100%;
  position: relative
}
input#if-name-field {
  margin: .3rem;
  padding: calc(.3rem - 1px) calc(.3rem + 1px);
  width: calc(40% - .6rem);
  font: 12pt serif;
  background: peachpuff;
  border: 0;
  border-radius: .3rem
}
input#if-name-field:focus {
  border: 1px solid #ccc;
  background: white;
  padding: calc(.3rem - 2px) .3rem
}
div#ifs-div-container,
div#ifs-list-container {
  width: 100%;
  height: 100%;
  position: absolute
}
div#ifs-list-container{
  overflow-y: auto
}
.active div#ifs-list-container {
  overflow-y: hidden
}
label.if-label {
  display: inline-block;
  margin: .5rem .6rem -.5rem;
  cursor: pointer;
  padding: .3rem;
  border-radius: .3rem
}
label.if-label:hover {
  background: seashell
}
.active label.if-label {
  display: none
}
div#if-actions {
  position: absolute;
  right: 0;
  width: calc(60% - .6rem);
  text-align: right;
  pointer-events: none
}
div#if-actions > * {
  pointer-events: all;
  font-family: iconfont
}

.button {
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: .4rem;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 0 .3rem;
  margin: .3rem .3rem .3rem -.3rem
}
div#delete-imagefeed:before {
  content: '\e905'
}
div#return-imagefeed:before {
  content: '\e902'
}
div#upload-imagefeed.img-view:before {
  content: '\e903'
}
div#upload-imagefeed:not(.img-view):before {
  content: '\e904'
}
div#new-imagefeed:before {
  content: '\e907'
}
div#orphan-imagefeed:before {
  content: '\e908'
}
div#publish-imagefeed:before {
  content: '\e906'
}
.button:hover {
  background: #ccc
}
.button:active {
  background: tomato
}

div#if-directory {
  flex: 1 30%;
  height: 0;
  background: seashell;
  display: none;
  overflow-y: auto
}
div#if-image-upload {
  flex: 1 70%;
  height: 0;
  background: papayawhip;
  display: none
}
.active > div#ifs-list {
  height: calc(2.1rem + 2px)
}
.active > div#if-directory {
  display: block
}
.active > div#if-image-upload {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.active > div#if-directory,
.active > div#if-image-upload {
  height: calc(100% - 2.1rem - 2px)
}
.active > div#if-image-upload label {
  font-size: 16pt
}
div#if-directory > label {
  margin: .4rem .6rem;
  cursor: pointer;
  display: inline-block;
  border-radius: .3rem
}
div#if-directory > label.image-label:first-child {
  margin-top: .8rem
}
div#if-directory > label:hover {
  background: tomato;
  padding: .2rem .3rem;
  margin: .2rem .3rem
}
div#if-directory > label:first-child:hover {
  margin-top: .6rem
}
div#if-directory > label[contenteditable] {
  border: 2px dashed tomato;
  margin: .2rem .3rem;
  padding: calc(.2rem - 2px) calc(.3rem - 2px)
}
div#if-directory > label[contenteditable]:first-child {
  margin-top: .6rem
}
div#if-directory > label:focus {
  background: peachpuff;
  outline: 0;
  cursor: text
}
#if-directory > .label-spacer {
  height: 4px
}
#if-directory > .label-spacer.drag {
  background: tomato
}
div#if-image-fileselect {
  text-align: center;
  line-height: 2rem;
  padding: 1rem 3rem
}
div#if-image-fileselect:hover {
  background: aqua
}
div#if-image-upload label {
  cursor: pointer
}
div#if-image-upload.drag {
  background: aqua !important
}
div#if-image-upload.drag * {
  pointer-events: none
}
input#if-file-input {
  display: none
}
div#if-image-preview {
  flex: 0 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-family: "iconfont"
}
div#if-image-preview > img {
  width: 100%;
  height: calc(17.9rem - 2px);
  object-fit: scale-down;
  outline: 0
}
div#if-fullscreen-toggle {
  position: absolute;
  bottom: .3rem;
  right: .3rem;
  background: rgba(256, 256, 256, .4);
  padding: .3rem;
  cursor: pointer
}
div#if-fullscreen-toggle:before {
  content: "\e900"
}
#if-image-preview:-webkit-full-screen { width: 100%; height: 100% }
#if-image-preview:-moz-full-screen { width: 100%; height: 100% }
#if-image-preview:-webkit-full-screen > img { background: #000; height: 100% }
#if-image-preview:-moz-full-screen > img { background: #000; height: 100% }
#if-image-preview:-webkit-full-screen > #if-fullscreen-toggle:before { content: "\e901" }
#if-image-preview:-moz-full-screen > #if-fullscreen-toggle:before { content: "\e900" }
