global
    log 127.0.0.1 local0 notice
    maxconn 4096
    user haproxy
    group haproxy
defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  50000
    timeout server  50000
listen nginx 0.0.0.0:80
    mode http
    balance roundrobin
    option httpclose
    option forwardfor
    server web_1 web_1 check
    server web_2 web_2 check
